@model IList<UserViewModel>

@{
    ViewData["Title"] = "User Administration";
}

<h1>@ViewData["Title"]</h1>

@{
    if (Model!= null && Model.Count > 0)
    {
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">@nameof(UserViewModel.Id)</th>
                        <th scope="col">@nameof(UserViewModel.Username)</th>
                        <th scope="col">@nameof(UserViewModel.Email)</th>
                        <th scope="col">@nameof(UserViewModel.PhoneNumber)</th>
                        <th scope="col">@nameof(UserViewModel.FirstName)</th>
                        <th scope="col">@nameof(UserViewModel.LastName)</th>
                        <th scope="col">@nameof(UserViewModel.Roles)</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <th scope="row">@user.Id</th>
                            <td>@user.Username</td>
                            <td>@user.Email</td>
                            <td>@(user.PhoneNumber != null ? user.PhoneNumber : "-")</td>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@string.Join(", ", @user.Roles)</td>
                            <td>
                                <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger">Delete</a>
                                @if (user.IsDisabled)
                                {
                                    <a asp-action="Disable" asp-route-id="@user.Id" class="btn btn-warning disabled" aria-disabled="true">Disable</a>
                                    <a asp-action="Enable" asp-route-id="@user.Id" class="btn btn-warning">Enable</a>
                                } else
                                {
                                    <a asp-action="Disable" asp-route-id="@user.Id" class="btn btn-warning">Disable</a>
                                    <a asp-action="Enable" asp-route-id="@user.Id" class="btn btn-warning disabled" aria-disabled="true">Enable</a>
                                }
                                
                            </td>
                        </tr>
                    }
            </table>
        </div>
    }
}
