@model IList<Stock>

@{
    ViewData["Title"] = "Stock Administration";
}
<h1>@ViewData["Title"]</h1>

<a asp-action="Create" class="btn btn-primary">Create Stock</a>

@{
    if (Model != null && Model.Count > 0)
    {
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">@nameof(Stock.Id)</th>
                    <th scope="col">@nameof(Stock.TickerSymbol)</th>
                    <th scope="col">@nameof(Stock.FullName)</th>
                    <th scope="col">@nameof(Stock.CurrentPrice)</th>
                    <th scope="col">@nameof(Stock.ImageSrc)</th>
                    <th scope="col">@nameof(Stock.MarketId)</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var stock in Model)
                {
                    <tr>
                        <th scope="row">@stock.Id</th>
                        <td>@stock.TickerSymbol</td>
                        <td>@stock.FullName</td>
                        <td>
                            <span>$ </span>
                            <span data-stock-price="@stock.TickerSymbol">@stock.CurrentPrice.ToString("N2")</span>
                        </td>
                        <td>
                            <span>@stock.ImageSrc</span>
                            @if (!string.IsNullOrEmpty(stock.ImageSrc))
                            {
                                <img src="@Url.Content(stock.ImageSrc)" alt="@stock.FullName" width="20" height="20" />
                            }
                        </td>
                        <td>
                            @stock.MarketId
                        </td>
                        <td>
                            <a asp-action="Update" asp-route-id="@stock.Id" class="btn btn-secondary">Edit</a>
                            <a asp-action="Delete" asp-route-id="@stock.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    }
    else
    {
        <p>Stocks table is empty</p>
    }
}